telethon==1.34.0
python-dotenv==1.0.1
langchain==0.1.16
langchain-community==0.0.34
langchain-openai==0.1.1
langchain-experimental
langchainhub
openai
faiss-cpu==1.8.0
requests==2.31.0
unstructured[md]==0.14.5
tiktoken==0.6.0
nltk==3.8.1
