telethon==1.34.0
python-dotenv==1.0.1
langchain==0.3.26
langchain-community==0.3.27
langchain-openai==0.3.28
langchain-text-splitters==0.3.8
openai==1.59.3
faiss-cpu==1.11.0.post1
requests==2.32.3
unstructured[md]==0.16.1
tiktoken==0.8.0
nltk==3.9.1
httpx==0.27.0
